.container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.card {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  min-width: 1022px;
  border: 1px dashed rgb(19, 47, 76);
  padding: 2.2rem;
  border-radius: 12px;
}

.headline-primary {
  color: rgb(46, 46, 46);
}
